<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <div class="flex-container">
    <div class="container">
        <h1>JOIN ME</h1>
        <p class="lead">Join the other <strong><%= data  %></strong> on my waiting list for updates about my new web applications.</p>
        <form method="POST" action='/register'>
            <input type="text" class="form" name="email" placeholder="Enter Your Email">
            <button>Join Now</button>
        </form>
    </div>
</div>
</body>
</html>